<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/pico.min.css">
    <title>Hello, world!</title>
</head>
<body>
<main class="container">
    <figure>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Method</th>
                <th>Uri</th>
                <th>Headder</th>
                <th>Body</th>
                <th>Created</th>
                <th>Last Call</th>
                <th>Call Counter</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${entities}">
                <td th:text="${entity.id}"></td>
                <td th:text="${entity.httpMethod}"></td>
                <td th:text="${entity.uri}"></td>
                <td th:text="${entity.headers}"></td>
                <td th:text="${entity.body}"></td>
                <td th:text="${entity.created}"></td>
                <td th:text="${entity.lastCall}"></td>
                <td th:text="${entity.callCounter}"></td>
                <td><a th:href="@{/edit/{id}(id=${entity.id})}" role="button" class="outline">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </figure>
</main>
</body>
</html>